<ion-header>

</ion-header>

<ion-content padding > <!-- class="card-background-page" -->
  <!--<div class="card-background-page-above">-->
  <button ion-button color="secondary" round (click)='showPropertyDetailsTest()'><ion-icon name="camera"></ion-icon></button>
  <ion-card *ngFor="let property of propertyList; let id = index">
            <img [src]="property.imageData" *ngIf="property">
  
             <ion-card-content>
            <ion-card-title>
                {{property.street}}, {{property.zip}} {{property.town}}
            </ion-card-title>
            </ion-card-content>

            <ion-row no-padding>
                <ion-col>
                    <button ion-button clear small color="golden" icon-start>
                    <ion-icon name='star'></ion-icon>
                    Rating {{property.microRating}}
                    </button>
                </ion-col>
                <ion-col text-center>
                    <button ion-button clear small color="danger" icon-start (click)="deleteProperty(id)">
                    <ion-icon name='trash'></ion-icon>
                    Trash
                    </button>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col text-left>
                    <button ion-button clear small color="black" icon-start (click)="showPropertyDetails(property)">
                        <ion-icon name="information-circle"></ion-icon>
                        Details
                    </button>
                </ion-col>
            </ion-row> 
    </ion-card>
  <!--</div>-->
</ion-content>
<ion-footer class="foot">
<button ion-button color="secondary" round><ion-icon name="home"></ion-icon></button>
<button ion-button color="secondary" round (click)='takePhoto()'><ion-icon name="camera"></ion-icon></button>
<button ion-button color="secondary" round><ion-icon name="mail"></ion-icon></button>
</ion-footer>