<button ion-button full (click)='takePhoto()'><ion-icon name="camera"></ion-icon>&nbsp;&nbsp;Take Photo</button>

<ion-content padding class="cards-bg">
      <!-- <ion-col col-6 *ngFor="let photo of photos; let id = index">
          <img [src]="photo.imageData" *ngIf="photo">
        <ion-card class="releative">
          
          <ion-icon  ios="ios-add-circle" md="md-add-circle"class="deleteIcon" (click)="deletePhoto(id)"></ion-icon>
         
         <button  (click)="showDetails(photo)" block>
            
        </button>
         <div>
            <span>Lat {{ photo.latitude }} </span>
            <span>Lon {{ photo.longitude }}</span>
         </div>
        </ion-card> -->


          <ion-card *ngFor="let property of propertyList; let id = index">
            <img [src]="property.imageData" *ngIf="property">

             <ion-card-content>
            <ion-card-title>
                {{property.street}}, {{property.zip}} {{property.town}}
            </ion-card-title>
            </ion-card-content>

            <ion-row no-padding>
            <ion-col>
                <button ion-button clear small color="golden" icon-start>
                <ion-icon name='star'></ion-icon>
                 Rating {{property.microRating}}
                </button>
            </ion-col>
            <ion-col text-center>
                <button ion-button clear small color="danger" icon-start (click)="deleteProperty(id)">
                <ion-icon name='trash'></ion-icon>
                Trash
                </button>
            </ion-col>
            <ion-col text-right>
                <button ion-button clear small color="black" icon-start (click)="showPropertyDetails(property)">
                    <ion-icon name="information-circle"></ion-icon>
                    Details
                </button>
            </ion-col>
            </ion-row> 

        </ion-card>
</ion-content>