

ul {
  padding: 0px;
  margin-top: 7px !important;

  &.rating li {
    padding: 2px 8px !important;
    background: none;
    color:  #ffb400;
    display : inline-block;
    margin-top:2px!important;
    ion-icon {
      font-size: 25px;     
    }
  }
}

.toolbar-background {
    background-color: #13a3b6;
}

/*
h2 { 
   position: absolute; 
   top: 200px; 
   left: 0; 
   width: 100%; 
} */

.price{
  //display : inline-block;
  padding:5px;
  font-weight: bold;
  font-size: 20px;
  color: orange;
  float: left;
}

.rating{
    //display: inline-block;
    float: left;

}

.VariableText{
  display: inline;
  float:left;
  color : white;
  font-weight: bold;
}

.VariableValue{
  display: inline;
  float:right;
  color: white;
  font-weight: bold;
}

.image { 
   position: relative; 
   width: 100%; /* for IE 6 */
}

h2 { 
   position: absolute; 
   top: 230px; 
   left: 0; 
   width: 100%; 
   color: orange; 
   font: bold 24px/45px Helvetica, Sans-Serif; 
   letter-spacing: -1px;  
}


h2 span { 
   color: orange; 
   font: bold 24px/45px Helvetica, Sans-Serif; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px; 
}

h2 span.spacer {
   padding:0 5px;
}

.Appraisal{
  width:25%;
  height:50px;
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.7);
}

#example {
   position: absolute;
   top: 70%;
   width:100%;
   //left: 10px; 
   padding-top:7px;    
   background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.7);
}

.appraiseButton{
  background-color:#13a3b6;//#3fb0ac; #13a3b6
}

//slider knob css//
.range-md-primary .range-knob{
  background-color:  #13a3b6 !important; 
}

.range-md-primary .range-bar-active{
    background: #13a3b6 !important;
}

.range-md .range-bar{
  background: #e1d3d3;
  height: 4px;
}

.radio-md .radio-checked {
  border-color: #13a3b6;
}

.radio-md .radio-checked {
   border-color: #13a3b6 ;
}

.radio-md .radio-inner{
   border-color: #13a3b6 ;
  background-color: #13a3b6;
}

.item-radio-checked.item-md ion-label{
  color:#13a3b6;
}

.item-md{
  color:#13a3b6;
}

.lastitem{
  padding-bottom: 40px;
}

.card-md{
   background: rgba(0, 0, 0, 0.7);
   margin:0px;
   width:100%;
}